/* Navbar.css
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    font-size: 1.1rem;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .nav-link:hover {
    color: #f67280;
  }
   */